*{
    margin: 0;
    padding: 0;
} 

body{
   background-color: black;
}
.row{
    display: flex;
    
}

.row div{
    
    width: 50px;
    height: 50px;
    
}
.brick{
    background-color: blue;
   
}

.coin{
    background: url('images/coin.gif');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.cherry{
    background: url('images/cherry.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.empty{

}

#pacman{
    background: url('images/pacman.gif');
    transform: rotate(0deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#point{
    color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: center;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 700px;
    top: 20px;
    padding-top: 12px;
    
}
